<div class="img-responsive background-image">
    <div class="text-center">
        <div class="arvo welcome-text">Welcome to new world to Split your Money</div>
        <div class="roboto welcome-sub-text">Have a group? And everybody had shared monetary contributions to your event?
            <p>
                Don't worry ! We are the solution.
            </p>
        </div>
        <div class="roboto welcome-footer">
            A Mathematical genius to solve your problem at one go!
        </div>
        <div>
            <button class="btn btn-primary experience-btn" ng-click="goNextPage()">Experience the journey</button>
        </div>
    </div>
</div>